# Instructions for CODEOWNERS file format and automatic build failure notifications:
# https://github.com/Azure/azure-sdk/blob/master/docs/engineering-system/codeowners.md

###########
# SDK
###########

# Catch all
/sdk/ @joshfree @jeffreyrichter

# Service teams
/sdk/core/      @vhvb1989 @antkmsft @gilbertw
/sdk/keyvault/  @vhvb1989 @gilbertw
/sdk/storage/   @gilbertw
/sdk/tracing/   @antkmsft

###########
# Eng Sys
###########
/eng/       @danieljurek
/**/ci.yml  @danieljurek
