BasedOnStyle: LLVM
ColumnLimit: 100
UseTab: Never
TabWidth: 2
IndentWidth: 2
IncludeBlocks: Preserve
NamespaceIndentation: None
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 300
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
Cpp11BracedListStyle: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false
